.headerAlign {
    text-align: center;
    padding: 20px;
    font-size: 30px;
    color: white;
}
.bgColor {
    background-color: black;
}
.modalcss{
    background: red;
    margin: 5%;
}
.styleImgST {
    width: 25%;
    height: auto;
}